#main-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

main {
  width: 40vw;
  margin-left: auto;
  margin-right: 5%;
}

form {
  width: 28vw;
  margin-left: 5%;
  margin-right: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit {
  align-self: flex-end;
}

#scores-title {
  display: flex;
  justify-content: space-evenly;
}

#refresh {
  height: 25px;
  align-self: center;
}

body {
  background-color: #16003b;
  color: #f1eee9;
}

h1 {
  color: #000;
  text-shadow: 3px 3px 3px #ffffff;
  font-size: 60px;
  margin-left: 25px;
}

main {
  border: 3px solid #f1eee9;
}

main div {
  border: 2px solid #f1eee9;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.white {
  background-color: #f1eee9;
  color: #000;
}

.black {
  text-shadow: 1px 2px #000;
}
